#!/bin/sh

export PATH=$HOME/.local/bin:$PATH

if [ -d $HOME/go ]; then
  export GOPATH=$HOME/go
  export PATH=$GOPATH/bin:$PATH
fi

if [ -d $HOME/.nimble/bin ]; then
  export PATH=$HOME/.nimble/bin:$PATH
fi

if [ -d $HOME/.cargo/bin ]; then
  export PATH=$HOME/.cargo/bin:$PATH
fi

